# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
db.sqlite3-journal
*.log
/staticfiles/
/media/

# Environment Variables
.env
.env.local

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

#Migrations

**/migrations/*
!**/migrations/__init__.py